<h3>Satellite Counts:</h3>
<div class="counts">
    <div>Total: <span>{{ satellites.length }}</span></div>
    <div>Space Debris: <span>{{ getCountByType('space debris') }}</span></div>
    <div>Communication: <span>{{ getCountByType('communication') }}</span></div>
    <div>Probe: <span>{{ getCountByType('probe') }}</span></div>
    <div>Positioning: <span>{{ getCountByType('positioning') }}</span></div>
    <div>Space Station: <span>{{ getCountByType('space station') }}</span></div>
    <div>Telescope: <span>{{ getCountByType('telescope') }}</span></div>
</div>